#
# EnderWRT Raspberry Pi 4 Model B Target Configuration Seed
# Based on OpenWrt defconfig
#

CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2711=y
CONFIG_TARGET_bcm27xx_bcm2711_DEVICE_raspberrypi_4=y

# Include LuCI and the Custom Theme
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-theme-ender=y

# Raspberry Pi Wireless Drivers & Firmware
CONFIG_PACKAGE_kmod-brcmfmac=y
CONFIG_PACKAGE_brcmfmac-firmware-43455-sdio=y
CONFIG_PACKAGE_kmod-bluetooth=y

# Support USB Ethernet Adapters commonly used on Pi
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
